@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: theme(colors.neutral.900/0.85);
  }

  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: theme(height.full);
  }
}

@layer components {
  .text-mute {
    color: theme(colors.neutral.900/0.5);
  }

  .text-disabled {
    color: theme(colors.neutral.900/0.27);
  }

  .text-inverte {
    color: theme(colors.white/0.85);
  }
}
