@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: theme(colors.base.800);
  }

  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: theme(height.full);
  }
}

@layer components {
  .text-content {
    color: theme(colors.base.800);
  }

  .text-ui {
    color: theme(colors.base.700);
  }

  .text-mute {
    color: theme(colors.base.600);
  }

  .text-inverte {
    color: theme(colors.white/0.85);
  }

  .text-disabled {
    color: theme(colors.base.500);
  }

  .bd-default {
    border-color: theme(colors.base.300);
  }

  .bd-active {
    border-color: theme(colors.base.400);
  }

  .bd-disabled {
    border-color: theme(colors.base.200);
  }
}
