.section {
  margin-bottom: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: var(--font-3xl);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
